transfgov-server/src/main/webapp/raml/schemas/acao.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="acao" type="acao"/>

  <xs:complexType name="acao">
    <xs:sequence>
      <xs:element name="codigo" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="nome" type="xs:string" minOccurs="0"/>
      <xs:element name="nomePopular" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

