transfgov-server/src/main/webapp/raml/schemas/programa.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="programa" type="programa"/>

  <xs:complexType name="programa">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element name="nome" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

